/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* BODY Section */
body {
  max-width: 1500px;
  min-height: 100vh;
  margin-inline: auto;
  padding: 10px;
  display: grid;
  grid-template-rows: 50px 1fr;
}

/* Header */
header {
  grid-area: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  user-select: none;
}

/* Nav Logo */
header > .logo {
  object-fit: contain;
}

nav {
  width: 30%;
  margin-left: auto;
}

nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 600;
}

nav .right a {
  text-decoration: none;
  color: black;
  padding: 5px;
  font-weight: 700;
}
nav .right a:hover,
nav .right a:focus-visible {
  border-bottom: 1px solid;
  outline: none;
}
nav .right a:active {
  opacity: 0.6;
}

/* Main Section */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 1%;
}

main > .left {
  font-family: "Roboto", sans-serif;
  user-select: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5%;
  margin-right: 12%;
  row-gap: 20px;
  font-size: 1.2em;
}
main > .left > h1 {
  font-weight: 800;
  font-size: 45px;
}
main > .leftt > p {
  position: relative;
  bottom: 10px;
}

main > .left > h1 > span {
  color: hsl(292, 81%, 35%);
}

main > .left > a {
  font-family: "Roboto", sans-serif;
  border: none;
  background-color: hsl(292, 81%, 40%);
  font-size: 1em;
  color: white;
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
main > .left > a:hover {
  background-color: hsl(292, 81%, 30%);
}
main > .left > a:focus-visible {
  outline: 1px solid orange;
  background-color: hsl(292, 81%, 25%);
}
main > .left > a:active {
  opacity: 0.8;
}

main > .right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main > .right > img {
  position: relative;
  width: 53%;
  object-fit: contain;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.616);
  cursor: pointer;
  transition: scale 0.4s ease-in-out;
}
.resume-img1 {
  left: 30%;
}
.resume-img3 {
  right: 30%;
}
main > .right > img:hover,
main > .right > img:active {
  z-index: 12312;
  scale: 1.05;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.616);
}

@media screen and (max-width: 1000px) {
  /* Header Section */
  nav {
    width: 50%;
  }
  .navbar-logo {
    width: 150px;
  }

  /* Main Content Section */
  main {
    display: block;
  }

  /* Top Content (before at left) */
  main > .top {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: max-content;
    width: 100%;
    padding-block: 5%;
    padding-inline: 3%;
  }
  main > .top > h1 {
    font-size: 33px;
  }
  main > .top > p {
    font-size: 17px;
  }
  main > .top > button {
    font-size: 15px;
  }
  /* Bottom Section (before at right) */
  main > .bottom > img {
    width: 60%;
  }
  .resume-img1 {
    left: 42%;
  }
  .resume-img3 {
    right: 42%;
  }
}
